@using DressUp.Core.Models.DetailsViewModels
@model ClothesDetailsViewModel

@{
    ViewData["Title"] = Model.Name;
}

<link rel="stylesheet" href="~/css/css/style.css" />
<link rel="stylesheet" href="~/css/site.css" />

<style>
    #addButton{
        margin-top:25px;
        width: 150px;
        height: 40px; /*?*/
    }
</style>


    <div class="labout span_1_of_a1">

        <img class="pic" src="@Model.ImageUrl" />

    </div>
    <div class="cont1 span_2_of_a1">
        <h1>@Model.Name</h1>
        <div class="price_single">
            <span class="actual">@Math.Round(Model.Price,2)лв.</span>
        </div>
        <p class="quick_desc">Описание: @Model.Description</p>

        <h3>Материя: @Model.Material</h3>

        <h3>Размер: @Model.Size</h3>

        <h3>Цвят: @Model.Color</h3>

        <h3>Състояние: @Model.Condition</h3>

        <div class="btn_form">

            <button id="addButton" class="btn btn-block btn-primary" onclick="AddToCart('Cloth',@Model.Id)">Add To Cart</button>

            @if (User.IsInRole("Administrator"))
            {
                <form>
                    <a id = "deleteButton" href="/Clothes/Delete?id=@Model.Id" class="btn btn-block btn-danger">
                        Delete
                    </a>
                </form>
            }
        </div>

    </div>
    <div class="clearfix"></div>
