<link rel="stylesheet" href="~/css/css/style.css" />

@{
    ViewData["Title"] = "Bags";
}

<title>@ViewData["Title"]</title>

<section class="w3l-ecommerce-main">
    <div class="ecom-contenthny py-5">
        <div class="container py-lg-5">
            <!-- /row-->

            <div class="ecom-products-grids row mt-lg-5 mt-3">
                @foreach (var item in Model.Bags)
                {
                    <div class="col-lg-3 col-6 product-incfhny mt-4">
                        <div class="product-grid2 transmitv">
                            <div class="product-image2">
                                <a href="/Bags/Details?id=@(item.Id)">
                                    <img class="pic-1 img-fluid" src="@item.ImageUrl">
                                </a>
                                <div class="transmitv single-item">
                                    <form action="@Url.Action("AddBagToCart", "Cart")?id=@item.Id" method="post">
                                        <button type="submit" class="transmitv-cart ptransmitv-cart add-to-cart">
                                            Add to Cart
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3 class="title"><a href="/Bags/Details?id=@(item.Id)">@item.Name</a></h3>
                                <span class="price">@Math.Round(item.Price,2)лв.</span>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <!-- //row-->
        </div>
    </div>
</section>